.action_item{
    color: white;
    vertical-align: middle;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    background: #303030f0;
    text-align: center;
    font-size: 16px;
}

.ag-theme-custom .ag-header {
    background-color:var(--table-header-bg);
    color:var(--table-header-text);
}

.ag-theme-custom .ag-row-even{
    background-color:var(--table-row-even-bg);
    color:var(--table-row-even-text);
}
.ag-theme-custom .ag-row-odd{
    background-color:var(--table-row-odd-bg);
    color:var(--table-row-odd-text);
}
.ag-theme-custom .ag-row{
    border-color: var(--table-row-border)
}