:root {
    --main-color: #30303050;
    --message-bg-err:#a55b5b;
    --message-bg-ok:#69b867;
    --message-bg-info:#598aa0;
    --message-border:#dddddd;
    --div: #30303050;
    --div-hover: #242424b2;
    --div-text:#aaaaaa;
    --div-text-hover:#dddddd;
    --menu-bg: #111111;
    --menu-sub-bg:#11111199;
    --menu-item-bg:#253088a3;
    --menu-item-bg-hover:#3241b2a3;
    --header-bg: rgba(10, 10, 10, .2);
    --loader-bg: #10101010;
    --perc-up: #808080;
    --perc-dw: #303030;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --table-header-bg: #101010;
    --table-header-text: #aaaaaa;
    --table-header-bg-selected: #003aad;
    --table-header-bg-hover: #2e2e2e;
    --table-header-text-selected: #fff;
    --table-header-text-hover: #dddddd;
    --table-item-row-bg: #303030;
    --table-item-row-bg-hover: #222222;
    --table-item-row-text: #aaaaaa;
    --table-item-row-text-hover: #dddddd;
    --table-row-border: #202020;
    --table-row-even-bg: #303030;
    --table-row-even-bg-hover: var(--table-item-row-bg-hover);
    --table-row-even-text: var(--table-item-row-text);
    --table-row-even-text-hover: var(--table-item-row-text-hover);
    --table-row-odd-bg: #353535;
    --table-row-odd-bg-hover: var(--table-item-row-bg-hover);
    --table-row-odd-text: var(--table-item-row-text);
    --table-row-odd-text-hover: var(--table-item-row-text-hover);
}