/*  Left Menu   */

.LeftMenuClose {
    width: 30px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    color: #808080;
}

@media only screen and (max-width: 600px) {
    .LeftMenuClose {
        left: -30px;
    }
}

.LeftMenu {
    width: 200px;
    background-color: black;
    position: absolute;
    top: 0;
    left: -200px;
    height: 100vh;
    z-index: 2;
    color: #808080;
    transition: left 1s;
}

.LeftMenuOpen {
    left: 0;
}

.LeftMenuClose td {
    height: 30px;
    width: 30px;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-size: 16pt;
}

.LeftMenu td {
    max-height: 40px;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16pt;
}

.LeftMenuTable {
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 75px);
    margin-top: 40px;
    width: 100%;
}

.LMI {
    border-collapse: collapse;
    width: calc(100% - 20px);
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 20px;
    overflow: hidden;
}

.LMIHidden {
    display: none;
}

.LMI-img {
    border: 1px solid;
    width: 40px;
    height: 40px;
}

.LMI-img-td {
    width: 70px;
}

.LMI tr td p {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11pt;
    margin-left: 5px;
}

.LMI-Item {
    background-color: var(--menu-item-bg);
    color: var(--menu-item-text);
    transition: 0.5s;
    height: 46px;
}

.LMI-Item td {
    padding-left: 20px;
}

.LMI-Item:hover {
    background-color: var(--menu-item-bg-hover);
    color: var(--menu-item-text-hover);
    transform: translateX(-20px);
}

.LeftMenuUserBar {
    max-width: 20px;
    max-height: 20px;
    margin-top: 6px;
    overflow: hidden;
}

.LeftMenuUserBar-item {
    width: 20px;
    height: 20px;
}

.LeftMenu-UserMenu {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #303030;
    border-radius: 0px;
    border: none;
    height: 0;
    opacity: 0;
    transition: .8s;
    overflow: hidden;
    border-radius: 1px;
    border: 1px solid #292929;
    z-index: 2;
    padding: 10px;
    color: #a0a0a0;
}

.LeftMenu-UserMenu table,
.LeftMenu-UserMenu td,
.LeftMenu-UserMenu tr {
    border-collapse: collapse;
    margin: 0;
}

.LeftMenu-UserMenu-info {
    font-size: 9pt;
    padding-left: 5px;
}

.LeftMenu-UserMenu-title {
    font-size: 10pt;
    float: right;
}

.LMUserMenuShow {
    opacity: 1;
    height: 75px;
    border-radius: 25px;
    top: 40px;
}